<!DOCTYPE html>
<html lang="en">
<head>
  <title>BitBoard | Cryptocurrency</title>
  <link rel="icon" href="https://image.flaticon.com/icons/png/128/214/214337.png" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
  <script>
  $(document).ready(function()
      {
          $("#cryptotable").tablesorter();
      }
  );
  </script>

  <style>

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    .coins {
      overflow-x: auto;
    }

    table {
      overflow-y: scroll;
      width: 20px
    }

    th {
      background-color: #4CAF50;
      color: white;

    }

    tr:hover {
      background-color: #f5f5f5
    }

    td {
      text-align: left;
    }

    #table-scroll {
      height:400px;
      overflow:auto;
      margin-top:18px;
    }

    .footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      /*padding: 1rem;*/
      padding-top: 25px;
      padding-bottom: 25px;
      background-color: #f2f2f2;
      text-align: center;
    }

    .col_name{
      cursor: pointer; cursor: hand;
    }

  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">BitBoard</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'cryptocurrency' %}">Cryptocurrency</a></li>
        <li><a href="{% url 'news' %}">News</a></li>
        <li><a href="#">Following</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Cryptocurrency</h1>
    <p>To The Moon</p>
  </div>
</div>
<div class="coins container-fluid bg-3 text-center" id="table-wrapper">
  <div id="table-scroll" style="align: center;">
    {% if all_tokens %}
      <table class="table" id="cryptotable">
        <thead>
          <tr>
            <th class="col_name">Name</th>
            <th class="col_name">Symbol</th>
            <th class="col_name">Rank</th>
            <th class="col_name">Price USD</th>
            <th class="col_name"> Price BTC</th>
            <th class="col_name">24H Volume (USD)</th>
            <th class="col_name">Market Cap (USD)</th>
            <th class="col_name">Available Supply</th>
            <th class="col_name">Total Supply</th>
            <th class="col_name">% 1H</th>
            <th class="col_name">% 24H</th>
            <th class="col_name">% 7D</th>
<!--
            <th>Name</th>
            <th>Symbol</th>
            <th>Total Coin Supply</th> -->

          </tr>
        </thead>
        <tbody>
          {% for token in all_tokens %}
            <tr>
              <td><img src="{{token.image_url}}" height="25" width="25"><a href="/cryptocurrency/{{token.tag}}">  {{token.name}}</a></td>
              <td>{{token.symbol}}</td>
              <td>{{token.rank}}</td>
              <td>{% load humanize %}{{token.price_usd|intcomma}}</td>
              <td>{% load humanize %}{{token.price_btc|intcomma}}</td>
              <td>{% load humanize %}{{token.volume_24h_usd|intcomma}}</td>
              <td>{% load humanize %}{{token.market_cap_usd|intcomma}}</td>
              <td>{% load humanize %}{{token.available_supply|intcomma}}</td>
              <td>{% load humanize %}{{token.total_supply|intcomma}}</td>
              <td>{% load humanize %}{{token.percent_change_1h|intcomma}}</td>
              <td>{% load humanize %}{{token.percent_change_24h|intcomma}}</td>
              <td>{% load humanize %}{{token.percent_change_7d|intcomma}}</td>
            </tr>

            <!-- <tr>
              <td><img src="{{token.image_url}}" height="42" width="42">{{token.name}}</td>
              <td>{{token.symbol}}</td>
              <td>{{token.total_coin_supply}}</td>
            </tr> -->
          {% endfor%}
        </tbody>
      </table>
    {% else %}
      <h3 style="text-align: right">No Tokens Available</h3>
    {% endif%}
  </div>
</div>

<div class="footer">
  <footer class="footer container-fluid text-center">
    <p>Copyright 2017 &copy;</p>
  </footer>
</div>

</body>
</html>
