<!DOCTYPE html>
<html lang="en">
<head>
  <title>BitBoard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    .coins {
      padding-bottom: 300px;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BitBoard</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Following</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>BitBoard</h1>
    <p>To The Moon</p>
  </div>
</div>

<div class="coins container-fluid bg-3 text-center">
  <h3>Cryptocurrency</h3><br>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>Rank</th>
          <th>Price (USD)</th>
          <th>24H Volume (USD)</th>
          <th>Market Cap (USD)</th>
          <th>Available Supply</th>
          <th>Total Supply</th>
          <th>Percent Change (1H)</th>
          <th>Percent Change (24H)</th>
          <th>Percent Change (7D)</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<footer class="footer container-fluid text-center">
  <p>Copyright 2017 &copy;</p>
</footer>

</body>
</html>
