<!DOCTYPE html>

<html lang="en">
<head>
  <title>Cryptocurrency | All Tokens</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
  <script>

  </script>
  <style>

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">BitBoard</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'cryptocurrency' %}">Cryptocurrency</a></li>
          <li><a href="{% url 'news' %}">News</a></li>
          <li><a href="#">Following</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <div class="coinmarketcap-currency-widget" data-currency= {{ token }} data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="true"></div> -->
  <div class="container-fluid">
  <div class="row content">
    <br>

    <div class="col-sm-12">
      <div class="well">
        <h1><img src="{{token.image_url}}" height="85" width="85">  {{ token.symbol }} - {{ token.name }}</h1>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Rank</h4>
            <p>{{ token.rank }}</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Price (USD)</h4>
            <p>${{ token.price_usd }}</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Price (BTC)</h4>
            <p>{{ token.price_btc }}</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Available Supply</h4>
            <p>{% load humanize %}{{ token.available_supply|intcomma }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
            <p>Text</p>
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
            <p>Text</p>
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
            <p>Text</p>
            <p>Text</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
